# VideoSDK AI Agents Core
videosdk-agents>=1.0.0

# Real-time API and LLM-based TTS/STT Providers
videosdk-plugins-openai>=1.0.0
videosdk-plugins-google>=1.0.0
videosdk-plugins-aws>=1.0.0
videosdk-plugins-sarvamai>=1.0.0
videosdk-plugins-cartesia>=1.0.0


# Speech-to-Text (STT) Plugins
videosdk-plugins-deepgram>=1.0.0


# Voice Activity Detection (VAD) and Turn Detection Plugins
videosdk-plugins-silero>=1.0.0
videosdk-plugins-turn-detector>=1.0.0

# Text-to-Speech (TTS) Plugins
videosdk-plugins-elevenlabs>=1.0.0

# LLM Plugins
videosdk-plugins-anthropic>=1.0.0
videosdk-plugins-cerebras>=1.0.0

# Virtual Avatar Plugins
videosdk-plugins-simli>=1.0.0
videosdk-plugins-anam>=1.0.0

# Real-time Plugins
videosdk-plugins-xai>=1.0.0
videosdk-plugins-ultravox>=1.0.0

# # Core Dependencies
fastmcp
aiohttp
python-dotenv>=1.1.1
requests>=2.31.0
mem0ai==0.1.116